<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>

    <h1 class="display-3">You've Discovered My Secret(s)!</h1>
    <div class="secrets-box">
      <p class="secret-text">Jack Bauer is my hero.</p>
      <% usersWithSecret.forEach(user=>{%>
      <% let secrets=user.secrets %>
      <p class="secret-text">
        <% secrets.forEach(secret=>{%>
            <span><%=secret%></span>
            <br>
       <% }) %>
      </p>
      <% }) %>

    </div>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>